.folder-row {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  margin: 5px 0;
}

.folder-row:hover {
  background-color: #F0FFFF;
}

.folder-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.folder-arrow-icon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  transform: rotate(270deg);
}

.folder-arrow-icon.expanded {
  transform: rotate(0deg);
}

.folder-title {
  margin-left: 10px;
}

.folder-title.filtered {
  font-weight: 600;
}

.folder-content {
  margin-left: 20px;
}